<h1>Download</h1>

<div class="article">
    <div class="article-content">
        <h2>Linux, Mac</h2>
        Unzip the zip package and run script <strong>install.sh</strong> as super-user

        <div class="download-box">
            <span>Binary zip package</span>
            <a href="/public/download/blogix-bin-1.0.1.zip">blogix-bin-1.0.1.zip</a>
        </div>

        <div class="download-box">
            <span>Sources zip package</span>
            <a href="/public/download/blogix-sources-1.0.1.zip">blogix-sources-1.0.1.zip</a>
        </div>
    </div>


</div>
